.bg-light {
	background-color: #0ff !important;
}
.nav-tabs {
    border-bottom:none;
}
.form-row {
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}